*.html
*.pdf
todo.txt
notebooks/
figures/
# Ignore Python bytecode files
__pycache__/
**/__pycache__/
*.py[cod]
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
.Rhistory
.DS_Store
.vscode/
.idea/
data/